<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
      <input type="input" class="form-control" id="usernameField" placeholder="username">
      <label for="usernameField">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="passwordField" placeholder="Password">
      <label for="passwordField">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" id="signinBtn">Sign in</button>
  </form>
</main>


